$timing: 600ms;
$ease: cubic-bezier(0.72,-0.39, 0, 1.07);

@mixin textblock($fatness: 0.1em, $overhang: 0.2em, $color: #fff) {
    display: inline;
    box-shadow: $overhang 0 0 $color, -$overhang 0 0 $color;
    background-color: $color;
}


body {
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

.giphy-logo {
  position: fixed;
  bottom: 3vmin;
  right: 3vmin;
  max-width: 140px;
}

.card {
  // height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-left: 3em;
  padding-right: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  transition: opacity $timing ease-in;
}

.card__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -1;
}

.card__h1 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 8vmin;
  color: #000;
  @include textblock(0.5em, 15px, transparentize(#fff, 0.1));
  background-color: transparentize(#fff, 0.1);
}

.card__h1-wrapper,
.card__summary-wrapper {
  transition: all $timing;
}

.card__summary-wrapper {
  margin-top: 2vmin;
  transition-delay: 100ms;
}

.card__summary {
  font-style: normal;
  font-weight: 300;
  font-size: 5vmin;
  margin: 0;

  color: #fff;
  @include textblock(0.5em, 15px, transparentize(#1a1a1a, 0.15));
  background-color: transparentize(#1a1a1a, 0.15);
}

.card__h1,
.card__summary {
  span {
    display: inline;
    white-space: pre-wrap;
    padding: 5px;
    padding-left: 0px;
  }
}


.content-appear {
  opacity: 0.01;
}

.content-appear-active {
  opacity: 1;
}

.content-enter {
  opacity: 0.01;

  .card__h1-wrapper,
  .card__summary-wrapper {
    transform: translate3d(30%, 0, 0);


  }
}

.content-enter-active {
  opacity: 1;
}

.content-leave {
  opacity: 0.01;

  .card__h1-wrapper,
  .card__summary-wrapper {
    transform: translate3d(-100%, 0, 0);
    transition-timing-function: $ease;
  }

}

.content-leave-active {
  opacity: 0.01;
}
