@mixin textblock($fatness: 0.1em, $overhang: 0.2em, $color: #fff) {
    display: inline;
    box-shadow: $overhang 0 0 $color, -$overhang 0 0 $color;
    background-color: $color;
}


body {
  font-family: 'Roboto Condensed', sans-serif;
}

.giphy-logo {
  position: fixed;
  bottom: 3vmin;
  right: 3vmin;
  max-width: 140px;
}

.card {
  // height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-left: 3em;
  padding-right: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.card--current {

}
.card__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -1;
}
.card__h1 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 8vmin;
  color: #000;
  @include textblock(0.5em, 15px, transparentize(#fff, 0.1));
  background-color: transparentize(#fff, 0.1);
}

.card__summary-wrapper {
  margin-top: 1vmin;
}

.card__summary {
  font-style: normal;
  font-weight: 300;
  font-size: 5vmin;
  margin: 0;

  color: #fff;
  @include textblock(0.5em, 15px, transparentize(#1a1a1a, 0.15));
  background-color: transparentize(#1a1a1a, 0.15);
}

.card__h1,
.card__summary {
  span {
    display: inline;
    white-space: pre-wrap;
    padding: 5px;
    padding-left: 0px;
  }
}
