.card {
  // height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-left: 3em;
  padding-right: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card--current {

}
.card__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -1;
}
.card--next {
  transform: translate3d(100%, 0, 0);
}
  .card__content {
  }
  .card__h1 {
    margin: 0;
    padding: 0;
    font-family: "museo-sans-condensed",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6em;
    line-height: normal;
  }
  .card__summary {
    font-family: "museo-sans-condensed",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 3em;
    line-height: 1.25;
    margin: 1em 0 0;
  }
  .card__h1,
  .card__summary {
    span {
      background-color: #222;
      color: #fff;
      display: inline;
      white-space: pre-wrap;
      padding: 5px;
      padding-left: 0px;
      box-shadow: -16px 0 0 #222;
    }
  }
