$timing: 600ms;
$ease: cubic-bezier(0.72,-0.39, 0, 1.07);

@define-mixin textblock $fatness: 0.1em, $overhang: 0.2em, $color: #fff {
    display: inline;
    box-shadow: $overhang 0 0 $color, -$overhang 0 0 $color;
    background-color: $color;
}

.card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-left: 3em;
  padding-right: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transition: opacity $timing ease-in;
}

.card__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -1;
}

.card__h1 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 8vmin;
  color: #000;
  @mixin textblock 0.5em, 15px, #fff.9;
}

.card__h1-wrapper,
.card__summary-wrapper {
  transition: transform $timing;
  will-change: transform;
}

.card__summary-wrapper {
  margin-top: 2vmin;
  transition-delay: 150ms;
}

.card__summary {
  font-style: normal;
  font-weight: 300;
  font-size: 5vmin;
  margin: 0;
  color: #fff;
  @mixin textblock 0.5em, 15px, #1a1a1a.85;
}

.card__h1,
.card__summary {
  span {
    display: inline;
    white-space: pre-wrap;
    padding: 5px;
    padding-left: 0px;
  }
}


.content-appear {
  opacity: 0.01;
}

.content-appear-active {
  opacity: 1;
}

.content-enter {
  opacity: 0.01;

  .card__h1-wrapper,
  .card__summary-wrapper {
    transform: translate3d(30%, 0, 0);
  }
}

.content-enter-active {
  opacity: 1;
}

.content-leave {
  opacity: 0.01;

  .card__h1-wrapper,
  .card__summary-wrapper {
    transform: translate3d(-200%, 0, 0);
    transition-timing-function: $ease;
  }

}

.content-leave-active {
  opacity: 0.01;
}
